main {
	min-height: 80vh;
}
h1 {
	font-size: 1.8rem !important;
	padding: 1rem 0;
}
h2 {
	font-size: 1.4rem !important;
	padding: 0.5rem 0;
}
h3 {
	padding: 0 1rem 1rem 0;
}

.rating span {
	margin: 0.1rem;
}
